.lesson-container {
    max-width: 90%;
    margin: 20px auto; /* Réduit l'espace latéral */
    padding: 20px;
    border: 4px solid #000000; /* Bordure dorée */
    border-radius: 15px;
    background-color: #cbffee; /* Couleur jaune pâle pour un style enfantin */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.lesson-detail-title {
    font-size: 2.5rem;
    text-align: center;
    color: #000000; 
    margin-bottom: 20px;
}

.lesson-details {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.2rem;
    color: #000000; 
    margin-bottom: 20px;
}

.lesson-content {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #000;
    background-color: #FFFFFF; /* Fond blanc */
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #000000; 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}


/* Lien pour les retours */
.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #003d82;
    text-decoration: underline;
}

.lesson-container p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
