.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%; 
    margin: 40px auto; 
    padding: 20px;
    
    border-radius: 15px;
    background-color: #cbffee; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.quiz-title {
    font-size: 2.5rem;
    color: #007bff; 
    margin-bottom: 10px;
    text-align: center;
}

.quiz-subject {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.question-box {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000000; 
    margin: 20px 0;
    width: 100%; /* Utiliser 100% de la largeur disponible */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    text-align: center; /* Centre le texte */
    margin: 20px auto; /* Ajoute une marge automatique pour centrer */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.question-title {
    color: #000000; 
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1.2rem;
    cursor: pointer;
}

label input {
    margin-right: 10px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #007bff;
    border-radius: 8px;
    margin-bottom: 10px;
}

.progress {
    font-size: 1.3em;
    margin: 15px 0;
    font-weight: bold;
    color: #ff5722; 
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #0056b3; 
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.next-button:hover {
    background-color: #0056b3; /* Bleu plus foncé au survol */
}

.correction {
    background-color: #fff4c4; 
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffd700; 
    margin-top: 20px;
}

.correction-item {
    margin: 15px 0;
    font-size: 1.1rem;
    text-align: left;
}

.success-icon {
    color: green;
}

.error-icon {
    color: red;
}


.show-correction {
    background-color: #28a745; /* Vert */
    color: #fff; /* Texte blanc */
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-correction:hover {
    background-color: #218838; /* Vert plus foncé au survol */
}

.back-to-quiz-list {
    background-color: #dc3545; /* Rouge */
    color: #fff; /* Texte blanc */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-to-quiz-list:hover {
    background-color: #c82333; /* Rouge plus foncé au survol */
}



