.blue-section{
    background-color: #87CEEB;
    background: linear-gradient(to bottom, #87CEEB 70%, #87CEEB 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.white-section{
    background-color: #ffffff;
}


/* -----------------------------------------------UploadImage-------------------------------------------------------- */

.UploadImage{
    padding-top: 3%;
}

